 /* @import url('../fonts/Helvetica45Light_22437.ttf');  */
 @font-face { 
  font-family: helveticaNue; 
  src: url('./fonts/Helvetica45Light_22437.ttf'); } 
body { margin:0; padding: 0; font-family: "helveticaNue", Helvetica, Arial, sans-serif;}

.page-container { background: #FFF; width: 100%; }

.welcome-bg {
position: relative;
margin: 0 auto;
width: 1340px;
top: 70px;
min-height: 1474px;
background: url('./images/coming-soon.png') no-repeat center;
background-size: contain;
}

.site-logo { float: left; padding: 2rem 3rem;}
.header-link { float: right; padding: 4.5rem 4rem; }
.header-link a { color: #5D3EA8; text-decoration: none;}
.header-link a:hover { text-decoration: underline; }
.try-jaam { position: absolute; top: 28rem; right: 12rem; }
.try-jaam button { background-color: #5D3EA8; border-radius: 3px; border: 1px solid #5D3EA8; padding: 1rem 6rem; color: #FFF; cursor: pointer; }
.try-jaam button:focus, .try-jaam button:active:focus  { outline: none; }

.signup-page
{
  position: relative;
  top:150px;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} 

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/